@model Controle_de_Vendas.Models.Vendedor
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Deseja deletar?</h3>
<div>
  <h4>Vendedor</h4>
  <hr/>
  <d1 class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Aniversario)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Aniversario)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.SalarioBase)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.SalarioBase)
    </dd>
  </d1>

  <form asp-action="Delete">
    <input type="hidden" asp-for="VendedorID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index">Voltar para lista</a>
  </form>
</div>